<a href="{{url}}">
  <div class="w-full box-border p-4 bg-gray-500 text-black my-4 font-sans text-left rounded-md flex flex-col md:flex-row gap-8">
    {{#if feature_image}}
    <div class="hidden md:block md:w-64 w-full text-center md:text-left">
      <img class="md:max-w-64 max-h-48 md:shadow-2xl" src="{{img_url feature_image}}">
    </div>
    {{/if}}
    <div class="w-full">
      <div class="text-lg font-bold">
        <time class="font-normal byline-meta-date" datetime="{{date format=" YYYY-MM-DD HH:mm:ss"}}">{{date}}</time>
         - {{title}}
      </div>
      <br />
      {{#if excerpt}}
      <blockquote class="italic">
        {{excerpt}}
      </blockquote>
      {{/if}}
    </div>
  </div>
</a>
