{{#if isSecondary}}
{{else}}
  <ul class="py-12 flex flex-col text-center md:flex-row md:gap-8 xl:text-left xl:flex-col xl:gap-0">
    {{#foreach navigation}}
    <li class="{{slug}} {{#if current}}current{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
  </ul>
{{/if}}
