<br />
<hr />
<br />
<nav class="pagination text-sm text-center space-x-4" role="navigation">
    {{#if prev}}
        <a class="newer-posts rounded-md bg-gray-300 p-4 text-black" href="{{page_url prev}}">&larr; Newer Posts</a>
    {{/if}}
    <span class="page-number text-lg">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts rounded-md bg-gray-300 p-4 text-black" href="{{page_url next}}">Older Posts &rarr;</a>
    {{/if}}
</nav>
