<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{asset 'css/tailwind.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{asset 'css/all.min.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{asset 'css/style.css'}}" />
  <title>{{@site.title}}</title>
  {{ghost_head}}
</head>

<body class='{{body_class}} bg-gray-900 lg:bg-gradient-to-r lg:from-gray-900 lg:to-black'>
  <div class='main-container'>
    <header class='block flex flex-wrap flex-col md:flex-row md:gap-4'>
      <a class="lg:flex-none" href="{{@site.url}}">
        <img src="{{#if @site.logo}}{{@site.logo}}{{else}}{{asset 'images/logo.jpg'}}{{/if}}" />
      </a>
      <div class='col-start-2 flex-grow'>
        <div class='text-4xl color-chocolate'>{{@site.title}}</div>
        <div>{{@site.description}}</div>
      </div>
      <div class='flex-none flex flex-row gap-4 flex-wrap text-3xl'>
        <a target="_blank" href='https://twitch.elkinoo.tv'>
          <i class='fab fa-twitch'></i>
        </a>
        <a target="_blank" href='https://discord.elkinoo.tv'>
          <i class='fab fa-discord'></i>
        </a>
        <a target="_blank" href='https://Twitter.elkinoo.tv'>
          <i class='fab fa-twitter'></i>
        </a>
        <a target="_blank" href='https://steam.elkinoo.tv'>
          <i class='fab fa-steam'></i>
        </a>
        <a target="_blank" href='https://facebook.elkinoo.tv'>
          <i class='fab fa-facebook'></i>
        </a>
        <a target="_blank" href='https://youtube.elkinoo.tv'>
          <i class='fab fa-youtube'></i>
        </a>
      </div>
    </header>
    <div class='grid grid-flow-row xl:grid-flow-col xl:grid-cols-6 gap-4'>
      <nav>
        {{navigation}}
      </nav>
      <div class='mx-4 xl:mx-0 xl:col-start-2 xl:col-span-5 box'>
        {{{body}}}
        <div class="text-center text-sm italic text-white my-12">
          Design par <a class="underline" href="https://www.lumikko.dev" target="_blank">Hugo 'Lumikkode' Regibo</a>. Ce site utilise <span class="italic">Ghost</span>.
        </div>
      </div>
    </div>
  </div>
    <script src="{{asset 'js/attribution.js'}}"></script>
    {{ghost_foot}}
</body>

</html>
