{{!< default}} {{#post}} <article class="article {{post_class}}">
  <header>
    <div class='text-4xl font-bold font-sans antialiased tracking-wide'>{{title}}</div>
    <div class="article-byline-meta">
      <div class="byline-meta-content">
        <time class="byline-meta-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
      </div>
    </div>
  </header>

  <br />

  <article>
  {{#if feature_image}}
  <figure class="article-image">
    <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w, {{img_url
      feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
      sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size=" xl"}}" alt="{{title}}" />
  </figure>
  {{/if}}

  <br />

  <section class="gh-content gh-canvas leading-relaxed space-y-6">
    {{content}}
  </section>
  </article>

  {{/post}}
  