body {
  background-color: #2e2e2e;
  color: white;
  margin: auto;
}

.main-container {
  max-width: 1720px;
  margin: auto;
}

body .main-container > header {
  height: 128px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0px;

  text-transform: uppercase;
}

.color-chocolate {
  color: chocolate;
}

body .main-container > header img {
  height: 100px;
}

nav:not(.pagination) a,
nav:not(.pagination) a:visited,
nav:not(.pagination) a:active {
  color: bisque;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul {
  margin: 0;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}

nav li {
  list-style: none;
  padding: 5px 0 5px 0;
  margin: 0px;
  text-transform: uppercase;
  box-sizing: inherit;
}
nav li.current a {
  color: white;
}

.kg-bookmark-card {
  width: 100%;
  position: relative;
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
  text-decoration: none;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 20px;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: 0.5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: 0.5em;
  margin-bottom: 0.05em;
}

.kg-bookmark-thumbnail {
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
}

.kg-bookmark-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher::before {
  content: "•";
  margin: 0 0.5em;
}

.kg-width-wide {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin: auto calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
  position: relative;
  width: 100%;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  margin-right: -50%;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  max-width: 1040px;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.kg-card > figcaption {
  font-style: italic;
  text-align: center;
}

.gh-content a,
.gh-content a:visited,
.gh-content a:hover,
.gh-content a:active {
  text-decoration: underline;
  color: #a08a6a;
}

.gh-content a:hover {
  color: burlywood;
}

.gh-content blockquote {
  border-left: thin #a08a6a solid;
  padding-left: 2em;
  box-sizing: border-box;
}

figure.kg-code-card pre {
  font-family: monospace;
  border: rgba(255, 255, 255, 0.8) thin solid;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px;
  font-size: 0.8em;
  background-color: rgba(29, 25, 25, 0.685);
}

.gh-content li {
  list-style-type: circle;
  list-style-position: inside;
}

.gh-content {
  text-align: justify;
}

.gh-content .kg-image {
  margin: auto;
  text-align: center;
}

.article-image img {
  margin: auto;
  text-align: center;
}
